html {
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
}

header {
  height: 100vh;
  margin: auto;
}

body {
  margin: 0;
}

.texto1 {
  position: absolute;
  text-align: justify;
  top: 15%;
  left: 0.5%;
  margin-right: auto;
  width: 99%;
  letter-spacing: 2px;
}

ul {
  float: right;
  list-style-type: none;
  margin-top: 15px;
}

ul li {
  display: inline;
}

ul li a {
  text-decoration: none;
  color: black;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.06s ease;
}

ul li a:hover {
  background-color: gray;
  color: #000;
}

.logo img {
  float: left;
  width: 180px;
  height: auto;
}

.titulo {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-70%);
  text-align: center;
  color: #fff;
}

.titulo h1 {
  color: #fff;
  font-size: 70px;
}

.menu {
  position: relative;
}
.menu_Crypto {
  position: relative;
  display: inline-block;
}

.menu_Crypto hover .botao_Crypto {
  background-color: #3e8e41;
}

.botao_Crypto {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: black;
  padding: 13px;
  font-size: 16px;
}

.botao_Crypto:hover {
  background-color: #fff;
  color: #000;
}

.menu_Crypto:hover .menu_Crypto-conteudo {
  display: block;
}

.menu_Crypto-conteudo {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 134px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  z-index: 1;
  text-align: center;
}

.menu_Crypto-conteudo a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menu_Crypto-conteudo a:hover {
  background-color: #ddd;
}

.imagem1 {
  position: absolute;
  left: 30%;
}

.footer {
  position: absolute;
  bottom: -97%;
  width: 100%;
  background-color: black;
  color: white;
}

.esq {
  float: left;
}

.dir {
  float: right;
}
